body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.center {
  text-align: center;
}

.primary-color {
  color: #77002e;
}

.error {
  color: red;
}
